
<style>
div {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: start;
}
</style>

<%= form_with model: client do |form| %>
  <div>
    <%= form.text_field :name, placeholder: "Enter name" %>
  </div>
  <div>
    <%= form.text_field :surname, placeholder: "Enter surname" %>
  </div>
  <div>
    <%= form.text_field :age, placeholder: "Enter age" %>
  </div>
  <div>
    <%= form.text_field :phoneNumber, placeholder: "Enter phone number" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
