<%= form_with model: client do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>
  <div>
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>
  <div>
    <%= form.label :phoneNumber %>
    <%= form.text_field :phoneNumber %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
