<% cache @client do %>
  <h2><%= @client.name %></h2>
<% end %>

<% if authenticated? %>
    <ul>
        <li>Name - <%= @client.name %> </li>
        <li>Surname - <%= @client.surname %> </li>
        <li>Age - <%= @client.age %> </li>
        <li>Phone number - <%= @client.phoneNumber %> </li>
    </ul>
<%= link_to "Edit", edit_client_path(@client) %>
<%= button_to "Delete", @client, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>

<%= link_to "Back", clients_path %>
